body {
  background-color: pink;
  text-align: center;
}

form {
  position: fixed;
  height: 100%;
  width: 100%;
}

ul {
  position: fixed;
  list-style-type: none;
  top: 40%;
  width: 100%;
}

div {
  height: 50%;
}

li {
  margin: 20px;
}


input[type=email], input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 20px;
}

input:focus {  /*removes blue outline on input fields */
  outline: none;
}

input[type=submit] {
  background: transparent;
  border-radius: 24px;
  font-size: 20px;
  height: 40px;
  width: 100px;
}