body {
  background-color: black;
  text-align: center;
}

.button {
  margin: 50px;
  background: transparent;
  border-radius: 24px;
  font-size: 20px;
}

#loginButton {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 40px;
  width: 100px;
}