body {
  background-color: pink;
  text-align: center;
}

#title {
  position: absolute;
  text-align: center;
  /* outline: 5px solid black; */
  top: 10%;
  width: 100%; /* width is now the whole screen*/
}

button {
  position: fixed;
  top: 70%;

  background: transparent;
  height: 40px;
  width: 100px;
  border-radius: 24px;
}