body {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

img {
  height: 50%;
  width: 50%;
}

#notesbubble {
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
}

#speechbubble {
  top: 0%;
}

#affirmations {
  position: absolute;
  top: 10%;
  left: 40%;
}

ul {
  list-style-type: none;
}

li {
  margin: 50px;
  outline: 5px solid;
  padding: 10px;
}

#leftlist {
  position: fixed;
  left: 0%;
  top: 30%;
}

#rightlist {
  position: fixed;
  right: 0%;
  top: 30%;
}

#bottomlist {
  position: fixed;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  justify-content: center;
}

#bottomlist li {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}
